{% with id=widget.attrs.id %}
<div{% if id %} id="{{ id }}"{% endif %}{% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %} style="display:inline-block">
  {% for group, options, index in widget.optgroups %}
  {% if group %}
  <p>
    {{ group }}
    <span{% if id %} id="{{ id }}_{{ index }}"{% endif %}>
      {% endif %}
        {% for option in options %}
        <span style="display:inline-block">{% include option.template_name with widget=option %}</span>
        &nbsp;&nbsp;
        {% endfor %}
      {% if group %}
    </span>
  </p>
  {% endif %}
  {% endfor %}
</div>
{% endwith %}
