/* Override template.min.css */

.form__group + .form__group {
  margin-top: var(--space-s);
}

/* .section__subtitle + .row {
  margin-top: var(--space-m);
} */

label.label-inline {
  color: var(--theme-dark-text);
}

.color-primary {
  color: var(--theme-primary);
}


/* Custom css */

a.tile {
  color: inherit;
  text-decoration: inherit;
}
a.tile:hover {
  background-color: var(--theme-background-white);
}

.inline-children > * {
  display: inline;
}

.col-33 {
  width: 33%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-50 {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

.no-margin {
  margin: 0;
}

.label.primary {
  background-color: var(--theme-primary);
  color: var(--white);
}


/* Address widget */

/* Address Map */

#map-details {
  height: 200px;
}
#map-form {
  height: 275px;
}

/* Calendar widget */

#yh1_yo-hours-range-nav, #yh1_yo-hours-range-edit {
  display: none;
}
.yo-hours-calendar {
  background-color: white;
  font-size: small;
}
.fc-scroller {
  overflow: scroll !important;
}
.fc-time-grid-event .fc-time {
  white-space: normal !important;
}
.fc-axis {
  width: 50px !important;
}
