{% extends 'layouts/main.html' %}

{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/libraries/leaflet@1.6.0.css' %}">
{% endblock extracss %}

{% block content %}
<section class="section">
  <div class="container">
    {% if messages %}
      <div class="notification success" role="alert">
        {% for message in messages %}
          {{ message | safe }}
        {% endfor %}
      </div>
    {% endif %}

    <div class="section__title inline-children">
      <h1>{{ place.name }}</h1>
      {% if place.is_open %}
        <span class="label label--active">Ouvert</span>
      {% else %}
        <span class="label">Fermé</span>
      {% endif %}
    </div>

    <p class="section__subtitle">
      Ce lieu propose {{ place.service_count }} service{% if place.service_count > 1 %}s{% endif %}.
      <!-- <small><a>Voir tous les services.</a></small> -->
    </p>
    
    <div class="row">
      <div class="col-33">
        <h5>Informations</h5>
        <p class="text-quote">{{ place.type }}</p>
        <p title="Equipements">
          Equipements disponibles :<br />
          {% if place.has_equipment_wifi %}
          <span class="label label-small label--inactive">WiFi</span>
          {% endif %}
          {% if place.has_equipment_computer %}
          <span class="label label-small label--inactive">Ordinateur</span>
          {% endif %}
        </p>
        <p title="Accessibilité">
          Accessibilité :<br />
          <span><img src="{% static 'images/handicaps/accessibility_hi_icon.jpg' %}" height="30" /></span>
          <span><img src="{% static 'images/handicaps/accessibility_mi_icon.jpg' %}" height="30" /></span>
          <span><img src="{% static 'images/handicaps/accessibility_pi_icon.jpg' %}" height="30" /></span>
          <span><img src="{% static 'images/handicaps/accessibility_vi_icon.jpg' %}" height="30" /></span>
        </p>
      </div>
      <div class="col-33">
        <h5>Prendre contact</h5>
        <p title="Téléphone">📞&nbsp;{{ place.contact_phone | default:'' }}</p>
        <p title="Courriel">📧&nbsp;{{ place.contact_email }}</p>
        <p title="Site internet">🌐&nbsp;<a href="{{ place.contact_website }}" target="_blank">{{ place.contact_website }}</a></p>
      </div>
      <div class="col-33">
        <h5>S'y rendre</h5>
        <p>{{ place.address_raw }}</p>
        <!-- <img src="{% static 'images/osm-screenshot_square.png' %}" style="max-width: 200px;" /> -->
        {% if place.latitude and place.longitude %}
          <div id="map-details"></div>
        {% endif %}
      </div>
    </div>
    
    {% if place.opening_hours_osm_format %}
      <p>
        🕒 Les <strong>horaires d'ouvertures</strong> aujourd'hui sont de
        {% for timespan in place.opening_hours_today %}<span> {{ timespan.beginning | date:"H:i" }} à {{ timespan.end | date:"H:i" }}</span>{% endfor %}.
        <small><a id="opening_hours_week_toggle">Voir toute la semaine.</a></small>
      </p>
      <ul id="opening_hours_week" style="display:none">
        {% for opening_hours_day in place.opening_hours_week_description %}
          <li>{{ opening_hours_day }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>
        🕒 Les <strong>horaires d'ouvertures</strong> sont inconnus.
        <small><a>Rajouter les horaires.</a></small>
      </p>
    {% endif %}

  </div>
</section>
<section class="section section-grey">
  <div class="container">
    <h2 class="section__title">Services proposés</h2>
    <div class="grid">
      {% for service in place_services %}
        <!-- <div class="tile">
          <p class="text-align-center">{{ service.name }}</p>
          <div class="font-size-small">
            {% if service.schedule_hours_raw %}
            <p title="Horaires">
              🕒 {{ service.schedule_hours_raw }}
            </p>
            {% endif %}
            <p title="Tags">
              {% for target in service.public_target %}
              <span class="label label--inactive">{{ target }}</span>
              {% endfor %}
              {% if service.support_access %}
              <span class="label label">{{ service.support_access }}</span>
              {% endif %}
              {% if service.support_mode %}
              <span class="label label">{{ service.support_mode }}</span>
              {% endif %}
              {% if service.has_label_aidants_connect %}
              <span class="label label--active">Aidants Connect</span>
              {% endif %}
            </p>
          </div>
        </div> -->
        <div class="card">
          <div class="card__content">
            <h6>{{ service.name }}</h6>
            {% if service.schedule_hours_raw %}
              <div class="font-size-small" title="Horaires">
                🕒 {{ service.schedule_hours_raw }}
              </div>
            {% endif %}
          </div>
          <div class="card__extra">
            <span title="Tags">
              {% if service.is_free %}
              <span class="label label-small label--active">Gratuit</span>
              {% else %}
              <!-- <span class="label label-small label--active" title="{{ service.price_detail }}">Payant</span> -->
              {% endif %}
              {% for target in service.public_target %}
              <span class="label label-small label--inactive">{{ target }}</span>
              {% endfor %}
              {% if service.support_access %}
              <span class="label label-small label">{{ service.support_access }}</span>
              {% endif %}
              {% if service.support_mode %}
              <span class="label label-small label">{{ service.support_mode }}</span>
              {% endif %}
              {% if service.has_label_aidants_connect %}
              <span class="label label-small label--active">Aidants Connect</span>
              {% endif %}
            </span>
          </div>
        </div>
      {% endfor %}
      <a class="tile" href="{% url 'service_create' place_id=place.id %}">
        <h3>➕</h3>
        <p class="no-margin color-primary">Ajouter un service</p>
      </a>
    </div>
  </div>
</section>

<section class="section section-white">
  <div class="container">
    <h2 class="section__title">Agenda</h2>
  </div>
</section>

<section class="section section-grey">
  <div class="container">
    <h2 class="section__title">Actions</h2>
    <div>
      <a href="{% url 'place_update' place_id=place.id %}">Modifier le lieu</a>
    </div>
  </div>
</section>
{% endblock content %}

{% block extrajs %}
<script src="{% static 'js/libraries/leaflet@1.6.0.js' %}"></script>

<script>
  // leaflet map
  if (document.getElementById("map-details")) {
    place_coordinates = [parseFloat("{{ place.latitude | safe}}"), parseFloat("{{ place.longitude | safe}}")];
    var map = L.map('map-details').setView(place_coordinates, 13);
    L.marker(place_coordinates).addTo(map);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
  }
</script>

<script>
  document.getElementById("opening_hours_week_toggle").addEventListener("click", function() {
    console.log(document.getElementById("opening_hours_week").style.display);
    document.getElementById("opening_hours_week").style.display = (document.getElementById("opening_hours_week").style.display === "block") ? "none" : "block";
  }, false);
</script>
{% endblock extrajs %}
