{% extends 'layouts/main.html' %}

{% load static %}

{% block content %}
<section class="section">
  <div class="container">
    {% if messages %}
      <div class="notification success" role="alert">
        {% for message in messages %}
          {{ message | safe }}
        {% endfor %}
      </div>
    {% endif %}
    <h1 class="brand">Tous les lieux</h1>
    <h3>Actions rapides</h3>
    <h3>Filtres poussés</h3>
  </div>
</section>
<section class="section section-grey">
  <div class="container">
    <h2>Résultats</h2>
    {% for place in places %}
      <div>
        <a href="{% url 'place_details' place_id=place.id %}">{{ place.name }}</a>
      </div>
    {% endfor %}
  </div>
</section>
{% endblock content %}
