{% extends 'layouts/main.html' %}

{% load static %}

{% block content %}
<section class="section">
  <div class="container">
    {% if messages %}
      <div class="notification success" role="alert">
        {% for message in messages %}
          {{ message | safe }}
        {% endfor %}
      </div>
    {% endif %}
    <h1 class="section__title">Jeux de données importés</h1>
    <p class="section__subtitle">{{ data_sources_count }} fournisseurs de données</p>
    <p class="text-center">
      <a href="#national">nationaux</a> ({{ data_sources_national.count }})
      &nbsp;|&nbsp;
      <a href="#hub">"hub"</a> ({{ data_sources_hub.count }})
      &nbsp;|&nbsp;
      <a href="#region">regionaux</a> ({{ data_sources_region.count }})
      &nbsp;|&nbsp;
      <a href="#departement">departementaux</a> ({{ data_sources_departement.count }})
    </p>
  </div>
</section>
<section class="section section-grey">
  <div class="container">
    
  <h2 id="national">Fournisseurs de données nationaux <small>{{ data_sources_national.count }}</small></h2>
    {% for data_source in data_sources_national %}
      {% include 'partials/data_source.html' with data_source=data_source %}
    {% endfor %}

    <hr>

    <h2 id="hub">Fournisseurs de données "hub" <small>{{ data_sources_hub.count }}</small></h2>
    {% for data_source in data_sources_hub %}
      {% include 'partials/data_source.html' with data_source=data_source %}
    {% endfor %}

    <hr>

    <h2 id="region">Fournisseurs de données régionaux <small>{{ data_sources_region.count }}</small></h2>
    {% for data_source in data_sources_region %}
      {% include 'partials/data_source.html' with data_source=data_source %}
    {% endfor %}

    <hr>

    <h2 id="departement">Fournisseurs de données départementaux <small>{{ data_sources_departement.count }}</small></h2>
    {% for data_source in data_sources_departement %}
      {% include 'partials/data_source.html' with data_source=data_source %}
    {% endfor %}
  </div>
</section>
{% endblock content %}
