{% load static %}

<header class="navbar">
  <div class="navbar__container">
    <a class="navbar__home" href="{% url 'home-page' %}">
      <img class="navbar__logo" src="{% static 'img/logo-marianne.svg' %}" alt="Logo République Française Marianne" />
      <img src="{% static 'img/aidants-connect_logo.png' %}" class="navbar__gouvfr" alt="Logo Aidants Connect" />
      <h2>&nbsp;Carto</h2>
    </a>
    <nav role="navigation">
      <ul class="nav__links">
        <li class="nav__item">
          <a href="{% url 'places-list' %}"  {% if request.path == '/lieux' %}class="active"{% endif %}>
            🔍&nbsp;Rechercher un lieu
          </a>
        </li>
        <li class="nav__item">
          <a href="{% url 'data-sources-list' %}"  {% if request.path == '/datasets' %}class="active"{% endif %}>
            Jeux de données
          </a>
        </li>
        <!-- <li class="nav__item">
          <a href="{% url 'place-create' %}"  {% if '/nouveau-lieu' in request.path %}class="active"{% endif %}>
            Ajouter un lieu
          </a>
        </li> -->
      </ul>
    </nav>
  </div>
  <div class="notification full-width" role="alert">
    Vous êtes sur un site en construction, l’interface proposée sera amenée à changer grâce à vos <a href="https://github.com/betagouv/Aidants_Connect_Carto/issues/new">retours</a> !
  </div>
</header>
