{% extends 'layouts/main.html' %}

{% load static %}

{% block content %}
<section class="section">
  <div class="container">
    {% if messages %}
      <div class="notification success" role="alert">
        {% for message in messages %}
          {{ message | safe }}
        {% endfor %}
      </div>
    {% endif %}
    <!-- <h1 class="section__title">Tous les lieux</h1> -->
    <form class="full-width" method="GET">
      <h2>Recherche</h2>
      <div class="form__group">
        {{ search_form.name }}
      </div>
      <p title="Filtres">
        {% for filter in search_results.current_filters %}
          {% if filter.type != 'name' %}
            <span class="filter-label">
              {{ filter.value }} <a class="no-decoration" href="{% url 'places-list' %}?{{ filter.url_parameters_with_filter_removed }}"><strong>&nbsp;&times;</strong></a>
            </span>
          {% endif %}
        {% endfor %}
        <!-- <small><a id="form_filters_toggle" class="caret-down"></a></small> -->
        <a id="form_filters_toggle">Ajouter des filtres ▸</a>
      </p>
      <section id="form_filters_section" class="full-width border-left-dashed margin-bottom-20" style="{% if search_results.has_filters %}display:none{% endif %}">
        <h5>Filtres</h5>
        <div class="form__group">
          <div class="row">
            <fieldset>
              <legend>🏢&nbsp;Type de lieu :</legend>
              {{ search_form.type }}
            </fieldset>
            <fieldset>
              <legend>📝&nbsp;Service proposé :</legend>
              {{ search_form.service_name }}
            </fieldset>
            <fieldset>
              <legend>🕒&nbsp;Horaires d'ouverture :</legend>
              {{ search_form.opening_hours }}
            </fieldset>
          </div>
        </div>
        <div class="form__group">
          <legend>🏷️&nbsp;Labels :</legend>
          <fieldset>
            {{ search_form.has_label_fs }}<label class="label-inline" for="{{ search_form.has_label_fs.id_for_label }}">{{ search_form.has_label_fs.label | safe }}</label>
          </fieldset>
          <fieldset>
            {{ search_form.service_label_aidants_connect }}<label class="label-inline" for="{{ search_form.service_label_aidants_connect.id_for_label }}">{{ search_form.service_label_aidants_connect.label | safe }}</label>
          </fieldset>
        </div>
        <div class="form__group">
          <div class="row">
            <fieldset>
              <legend>📍&nbsp;Département :</legend>
              {{ search_form.address_departement_name }}
            </fieldset>
            <fieldset>
              <legend>📍&nbsp;Région :</legend>
              {{ search_form.address_region_name }}
            </fieldset>
            <fieldset></fieldset>
          </div>
        </div>
        <div class="form__group">
          <a href="{% url 'places-list' %}?name={{ search_form.name.value }}">Tout effacer</a>
        </div>
      </section>
      <input type="submit" value="Lancer la recherche">
    </form>
  </div>
</section>
<section class="section section-grey">
  <div class="container">
    <div class="row">
      <div class="section__title inline-children text-align-left">
        <h2>Résultats</h2>
        <small class="label label--active">{{ search_results.places_total }}</small>
      </div>
      <div>
        <form>
          <div class="form__group">
            <fieldset>
              <legend>Ordonner par :</legend>
              <input type="radio" name="radio" id="radio-pup" value="1" checked><label for="radio-pup" class="label-inline">A-Z</label>
              <input type="radio" name="radio" id="radio-kitten" value="0" disabled><label for="radio-kitten" class="label-inline">Distance</label>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
    <div class="grid">
      {% for place in search_results.places_page %}
        <div class="card">
          <div class="card__content">
            <h4><a href="{% url 'place-details' place_id=place.id %}">{{ place.name }}</a></h4>
            <div class="card__meta">
              <span>📍&nbsp;{{ place.display_address_full }}</span>
            </div>
            <p class="text-quote">{{ place.get_type_display }}</p>
            <ul>
              {% for service in place.services.all %}
              <li>{{ service.name }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="card__extra">
            <!-- Public cible -->
            <span title="{{ place.target_audience_raw }}">
              {% for target_audience in place.target_audience %}
                <span class="label">{{ target_audience }}</span>
              {% endfor %}
            </span>
            <!-- Ouvert ou Fermé -->
            <span class="float-right" title="{{ place.opening_hours_raw }}">
              {% if place.is_open %}
                <span class="label label--active">Ouvert</span>
              {% else %}
                <span class="label">Fermé</span>
              {% endif %}
            </span>
          </div>
        </div>
      {% endfor %}
    </div>
    <nav class="pagination justify-content-center">
      <span class="step-links">
        {% if search_results.places_page.has_previous %}
          <!-- <a href="?page=1">&laquo; début</a> -->
          <a href="?page={{ search_results.places_page.previous_page_number }}">précédent</a>
        {% endif %}
        &nbsp;&nbsp;
        <span class="current">
          Page <strong>{{ search_results.places_page.number }}</strong> sur <strong>{{ search_results.places_page.paginator.num_pages }}</strong>.
        </span>
        &nbsp;&nbsp;
        {% if search_results.places_page.has_next %}
          <a href="?page={{ search_results.places_page.next_page_number }}">suivant</a>
          <!-- <a href="?page={{ search_results.places_page.paginator.num_pages }}">fin &raquo;</a> -->
        {% endif %}
      </span>
    </nav>
  </div>
</section>
<section>
  
</section>
{% endblock content %}

{% block extrajs %}
<script>
  // init
  const urlParams = new URLSearchParams(window.location.search);
  const form_filters_toggle_element = document.getElementById("form_filters_toggle");
  const form_filters_section_element = document.getElementById("form_filters_section");
  
  // // check url params: if at least 1 is not empty, then hide filters
  // for (const param of urlParams.entries()) {
  //   console.log(param)
  //   if (param[1] !== "") {
  //     form_filters_section_element.style.display = "none";
  //   }
  // }

  // form filter toggle
  form_filters_toggle_element.addEventListener("click", function() {
    form_filters_toggle_element.text = (form_filters_toggle_element.text === "Ajouter des filtres ▸") ? "Cacher les filtres ▾" : "Ajouter des filtres ▸";
    form_filters_section_element.style.display = (form_filters_section_element.style.display === "block") ? "none" : "block";
  }, false);
</script>
{% endblock extrajs %}
