{% extends 'layouts/main.html' %}

{% load static %}

{% block content %}
<section class="section">
  <div class="container">
    {% if messages %}
      <div class="notification success" role="alert">
        {% for message in messages %}
          {{ message | safe }}
        {% endfor %}
      </div>
    {% endif %}
    <h1 class="section__title">Tous les lieux</h1>
    <form class="full-width" method="GET">
      <h2>Recherche rapide</h2>
      <div class="form__group">
        <input type="text" name="name" maxlength="300" id="id_name" style="width:50%" placeholder="Chercher un lieu..." autofocus>
        <!-- {{ search_form.name }} -->
      </div>
      <!-- <h3>ou</h3> -->
      <div class="form__group">
        <span>
          <a href="{% url 'places-list' %}?service_name=Accès à un équipement informatique">Accès à un équipement informatique</a>
        </span>
        &nbsp;&nbsp;&nbsp;
        <span>
          <a href="{% url 'places-list' %}?service_name=Accompagnement aux démarches administratives en ligne">Accompagnement aux démarches administratives en ligne</a>
        </span>
        &nbsp;&nbsp;&nbsp;
        <span>
          <a href="{% url 'places-list' %}?service_name=Acquisition de compétences numériques">Acquisition de compétences numériques</a>
        </span>
      </div>
      <div class="form__group">
        <!-- <span>
          <a>Services labellisés #APTIC</a>
        </span>
        &nbsp;&nbsp;&nbsp; -->
        <span>
          <a href="{% url 'places-list' %}?service_label_aidants_connect=on">Services labellisés Aidants Connect</a>
        </span>
      </div>
      <h3 class="margin-bottom-O">
        Filtres avancés
        <!-- <small><a id="place_list_filters_toggle" class="caret-down"></a></small> -->
        <small><a id="place_list_filters_toggle" class="font-size-small">Afficher</a></small>
      </h3>
      <section id="place_list_filters_form" class="full-width border-left-dashed" style="display:none">
        <div class="form__group">
          <fieldset>
            <legend>Type de lieu :</legend>
            {{ search_form.type }}
          </fieldset>
        </div>
        <div class="form__group">
          <fieldset>
            <legend>Service proposé :</legend>
            {{ search_form.service_name }}
          </fieldset>
        </div>
        <div class="form__group">
          <fieldset>
            <legend>Labels :</legend>
            {{ search_form.service_label_aidants_connect }}<label class="label-inline" for="{{ search_form.service_label_aidants_connect.id_for_label }}">{{ search_form.service_label_aidants_connect.label | safe }}</label>
            {{ search_form.service_label_mfs }}<label class="label-inline" for="{{ search_form.service_label_mfs.id_for_label }}">{{ search_form.service_label_mfs.label | safe }}</label>
          </fieldset>
        </div>
        <div class="form__group">
          <fieldset>
            <legend>Horaires d'ouverture :</legend>
            {{ search_form.opening_hours }}
            <!-- <input type="radio" name="radio" id="opening_hours_date" value="opening_hours_date" checked><label for="opening_hours_date" class="label-inline">Ouvert le 'datetime'</label> -->
          </fieldset>
        </div>
        <div class="form__group">
          <fieldset>
            <legend>Localisation :</legend>
            Département : {{ search_form.address_departement_name }}<!-- <label for="id_address_departement_name" class="label-inline">{{ search_form.address_departement_name.label | safe }}</label> -->
            Région : {{ search_form.address_region_name }}<!-- <label for="id_address_region_name" class="label-inline">{{ search_form.address_region_name.label | safe }}</label> -->
          </fieldset>
        </div>
      </section>
      <br />
      <input type="submit" value="Lancer la recherche">
    </form>
  </div>
</section>
<section class="section section-grey">
  <div class="container">
    <div class="row">
      <div class="section__title inline-children text-align-left">
        <h2>Résultats</h2>
        <small class="label label--active">{{ search_results.places_total }}</small>
      </div>
      <div>
        <form>
          <div class="form__group">
            <fieldset>
              <legend>Ordonner par :</legend>
              <input type="radio" name="radio" id="radio-pup" value="1" checked><label for="radio-pup" class="label-inline">A-Z</label>
              <input type="radio" name="radio" id="radio-kitten" value="0" disabled><label for="radio-kitten" class="label-inline">Distance</label>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
    <div class="grid">
      {% for place in search_results.places_page %}
        <div class="card">
          <div class="card__content">
            <h4><a href="{% url 'place-details' place_id=place.id %}">{{ place.name }}</a></h4>
            <div class="card__meta">
              <!-- <span>📍&nbsp;{{ place.address_raw }}</span> -->
              <span>📍&nbsp;{{ place.display_address_full }}</span>
            </div>
            <p class="text-quote">{{ place.get_type_display }}</p>
            <!-- <p>{{ place.service_count }} service{{ place.service_count | pluralize }}</p> -->
            <ul>
              {% for service in place.services.all %}
              <li>{{ service.name }}</li>
              {% endfor %}
            </ul>
            <!-- <p>{{ place.service_list }}</p> -->
          </div>
          <div class="card__extra">
            <!-- Public cible -->
            <span title="{{ place.target_audience_raw }}">
              {% for target_audience in place.target_audience %}
                <span class="label">{{ target_audience }}</span>
              {% endfor %}
            </span>
            <!-- Ouvert ou Fermé -->
            <span class="float-right" title="{{ place.opening_hours_raw }}">
              {% if place.is_open %}
                <span class="label label--active">Ouvert</span>
              {% else %}
                <span class="label">Fermé</span>
              {% endif %}
            </span>
            
          </div>
        </div>
      {% endfor %}
    </div>
    <nav class="pagination justify-content-center">
      <span class="step-links">
        {% if search_results.places_page.has_previous %}
          <!-- <a href="?page=1">&laquo; début</a> -->
          <a href="?page={{ search_results.places_page.previous_page_number }}">précédent</a>
        {% endif %}
        &nbsp;&nbsp;
        <span class="current">
          Page <strong>{{ search_results.places_page.number }}</strong> sur <strong>{{ search_results.places_page.paginator.num_pages }}</strong>.
        </span>
        &nbsp;&nbsp;
        {% if search_results.places_page.has_next %}
          <a href="?page={{ search_results.places_page.next_page_number }}">suivant</a>
          <!-- <a href="?page={{ search_results.places_page.paginator.num_pages }}">fin &raquo;</a> -->
        {% endif %}
      </span>
    </nav>
  </div>
</section>
<section>
  
</section>
{% endblock content %}

{% block extrajs %}
<script>
  const element_place_list_filters_toggle = document.getElementById("place_list_filters_toggle");
  const element_place_list_filters_form = document.getElementById("place_list_filters_form");
  element_place_list_filters_toggle.addEventListener("click", function() {
    // element_place_list_filters_toggle.className = (element_place_list_filters_toggle.className === "caret-down") ? "caret-up" : "caret-down";
    element_place_list_filters_toggle.text = (element_place_list_filters_toggle.text === "Afficher") ? "Cacher" : "Afficher";
    element_place_list_filters_form.style.display = (element_place_list_filters_form.style.display === "block") ? "none" : "block";
  }, false);
</script>
{% endblock extrajs %}
