{% extends 'layouts/main.html' %}

{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/libraries/leaflet@1.6.0.css' %}">
{% endblock extracss %}

{% block content %}
<section class="section">
  <div class="container">
    {% if messages %}
      <div class="notification success" role="alert">
        {% for message in messages %}
          {{ message | safe }}
        {% endfor %}
      </div>
    {% endif %}

    <div class="section__title inline-children">
      <h1>{{ place.name }}</h1>
      {% if place.is_open %}
        <span class="label label--active">Ouvert</span>
      {% else %}
        <span class="label">Fermé</span>
      {% endif %}
    </div>

    <p class="section__subtitle">
      <span>{{ place.supporting_structure_name }}</span>
      {% if place.supporting_structure_name and place.description %}
      <span>•</span>
      {% endif %}
      <span>{{ place.description }}</span>
    </p>

    <div class="row">
      <div class="col-33">
        <h5>Informations</h5>
        <p class="text-quote">{{ place.get_type_display }}</p>
        <p class="Public cible">
          Public cible :
          {% for target in place.target_audience %}
            <span class="label label-small">{{ target }}</span>
          {% endfor %}
        </p>
        {% if not place.is_online %}
          <p title="Equipements">
            Equipements disponibles :
            {% if place.has_equipment_wifi %}
              <span class="label label-small label--inactive">WiFi</span>
            {% endif %}
            {% if place.has_equipment_computer %}
              <span class="label label-small label--inactive">Ordinateur</span>
            {% endif %}
          </p>
        {% endif %}
        {% if not place.is_online %}
          <p title="Accessibilité">
            Accessibilité :
            {% if place.has_accessibility_hi %}
              <span><img src="{% static 'img/handicaps/accessibility_hi_icon.jpg' %}" height="30" /></span>
            {% endif %}
            {% if place.has_accessibility_mi %}
              <span><img src="{% static 'img/handicaps/accessibility_mi_icon.jpg' %}" height="30" /></span>
            {% endif %}
            {% if place.has_accessibility_pi %}
              <span><img src="{% static 'img/handicaps/accessibility_pi_icon.jpg' %}" height="30" /></span>
            {% endif %}
            {% if place.has_accessibility_vi %}
              <span><img src="{% static 'img/handicaps/accessibility_vi_icon.jpg' %}" height="30" /></span>
            {% endif %}
          </p>
        {% endif %}
      </div>
      <div class="col-33">
        <h5>Prendre contact</h5>
        <p title="Téléphone">📞&nbsp;{{ place.contact_phone | default:'' }}</p>
        <p title="Courriel">📧&nbsp;{{ place.contact_email }}</p>
        <p title="Site internet">🌐&nbsp;<a href="{{ place.contact_website_url }}" target="_blank">{{ place.contact_website_url }}</a></p>
        <p title="Réseaux sociaux">
          {% if place.contact_facebook_url %}
            <span title="Page Facebook"><a href="{{ place.contact_facebook_url }}" target="_blank"><img src="{% static 'img/openmoji/facebook_color_E042.svg' %}" height="30" /></a></span>
          {% endif %}
          {% if place.contact_twitter_url %}
            <span title="Page Twitter"><a href="{{ place.contact_twitter_url }}" target="_blank"><img src="{% static 'img/openmoji/twitter_color_E040.svg' %}" height="30" /></a></span>
          {% endif %}
          {% if place.contact_youtube_url %}
            <span title="Page Youtube"><a href="{{ place.contact_youtube_url }}" target="_blank"><img src="{% static 'img/openmoji/youtube_color_E044.svg' %}" height="30" /></a></span>
          {% endif %}
        </p>
      </div>
      <div class="col-33">
        <h5>S'y rendre</h5>
        {% if place.is_online %}
          <p><i>Ce lieu est uniquement accessible en ligne ou par téléphone</i></p>
        {% else %}
          {% if place.address_raw %}
            <p>{{ place.address_housenumber }} {{place.address_street }}, {{ place.address_postcode }} {{ place.address_city }}</p>
          {% else %}
            <p><i>Adresse inconnue</i></p>
        {% endif %}
        
        {% endif %}
        <!-- <img src="{% static 'img/osm-screenshot_square.png' %}" style="max-width: 200px;" /> -->
        {% if place.latitude and place.longitude %}
          <div id="map-place-details"></div>
        {% endif %}
      </div>
    </div>

    {% if place.opening_hours_osm_format %}
      <p>
        🕒&nbsp;Les <strong>horaires d'ouvertures</strong> aujourd'hui sont de
        {% for timespan in place.opening_hours_today %}<span> {{ timespan.beginning | date:"H:i" }} à {{ timespan.end | date:"H:i" }}</span>{% endfor %}.
        <small><a id="opening_hours_week_toggle">Voir toute la semaine.</a></small>
      </p>
      <ul id="opening_hours_week_section" style="display:none">
        {% for opening_hours_day in place.opening_hours_week_description %}
          <li>{{ opening_hours_day }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>
        🕒&nbsp;Les <strong>horaires d'ouvertures</strong> sont inconnues.
        <small><a href="#contribution">Rajouter les horaires</a></small>
      </p>
    {% endif %}

  </div>
</section>
<section class="section section-grey">
  <div class="container">
    {% if place_services %}
      <h2 class="section__title">Services proposés</h2>
      <div class="grid">
        {% for service in place_services %}
          <div class="card">
            <div class="card__content">
              <h6>{{ service.name }}</h6>
              {% if service.schedule_hours_raw %}
                <div class="font-size-small" title="Horaires">
                  🕒 {{ service.schedule_hours_raw }}
                </div>
              {% endif %}
            </div>
            <div class="card__extra">
              <span title="Tags">
                {% if service.is_free %}
                  <span class="label label-small label--active">Gratuit</span>
                {% else %}
                <!-- <span class="label label-small label--active" title="{{ service.price_details }}">Payant</span> -->
                {% endif %}
                {% for target in service.target_audience %}
                  <span class="label label-small label--inactive">{{ target }}</span>
                {% endfor %}
                {% if service.support_access %}
                  <span class="label label-small label">{{ service.support_access }}</span>
                {% endif %}
                {% if service.support_mode %}
                  <span class="label label-small label">{{ service.support_mode }}</span>
                {% endif %}
                {% if service.has_label_aidants_connect %}
                  <span class="label label-small label--active">Aidants Connect</span>
                {% endif %}
              </span>
            </div>
          </div>
        {% endfor %}
        <!-- <a class="tile" href="{% url 'service-create' place_id=place.id %}">
          <h3>➕</h3>
          <p class="no-margin color-primary">Ajouter un service</p>
        </a> -->
      </div>
    {% else %}
      <h2 class="section__title">Aucun service référencé</h2>
    {% endif %}
  </div>
</section>

<div id="contribution" class="notification full-width" role="alert">
  ✍️&nbsp;Les informations affichées ne sont pas à jour, ou simplement absentes ? Vous pouvez <a href="mailto:carto@aidantsconnect.beta.gouv.fr?subject=%5BContribution%5D%20Modification%20du%20lieu%20{{ place.id }}&body=Bonjour,%0A%0AVeuillez%20nous%20indiquer%20les%20informations%20manquantes.%20On%20fera%20de%20notre%20mieux%20pour%20mettre%20%C3%A0%20jour%20la%20donn%C3%A9e,%20et%20informer%20le%20fournisseur%20de%20donn%C3%A9e.%0A%0AMerci%20de%20votre%20contribution%20!">suggérer une modification</a>.
</div>

<!-- <section class="section section-grey">
  <div class="container">
    <h2 class="section__title">Actions</h2>
    <div>
      <a href="{% url 'place-update' place_id=place.id %}">Modifier le lieu</a>
    </div>
  </div>
</section> -->
{% endblock content %}

{% block extrajs %}
<script src="{% static 'js/libraries/leaflet@1.6.0.js' %}"></script>

<script>
  // leaflet map
  if (document.getElementById("map-place-details")) {
    place_coordinates = [parseFloat("{{ place.latitude | safe }}"), parseFloat("{{ place.longitude | safe }}")];
    var map = L.map('map-place-details').setView(place_coordinates, 13);
    L.marker(place_coordinates).addTo(map);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
  }
</script>

<script>
  // init
  const opening_hours_week_toggle_element = document.getElementById("opening_hours_week_toggle");
  const opening_hours_week_section_element = document.getElementById("opening_hours_week_section");
  
  // opening_hours toggle
  if (opening_hours_week_toggle_element) {
    opening_hours_week_toggle_element.addEventListener("click", function() {
      opening_hours_week_section_element.style.display = (opening_hours_week_section_element.style.display === "block") ? "none" : "block";
    }, false);
  }
</script>
{% endblock extrajs %}
