{% extends 'layouts/main.html' %}

{% block hero %}
<div class="hero">
  <div class="hero__container">
    <div class="row">
      <div class="hero__description text-center">
        <h1 class="brand">Bienvenue sur l'outil Cartographie d'Aidants Connect</h1>
        <p class="lead-text">
          Vous accompagnez régulièrement des personnes en difficulté avec le numérique dans la réalisation de démarches en ligne ? Aidants Connect est fait pour vous !
        </p>
        <p>Ce service sécurise et facilite le « faire pour le compte de ».</p>
      </div>
    </div>
  </div>
</div>
{% endblock hero %}

{% block content %}
<div class="notification full-width" role="alert">Vous êtes sur un site en construction, l’interface proposée sera amenée à changer grâce à vos <a href="https://github.com/betagouv/Aidants_Connect_Carto/issues/new">retours</a> !</div>

<div class="section text-center">
  <div class="container">
    <a href="{% url 'place_list' %}">Tous les lieux</a>
  </div>
</div>
{% endblock content %}
